[submodule "vim/bundle/vundle"]
	path = vim/bundle/vundle
	url = http://github.com/gmarik/vundle.git
[submodule "color-theme"]
	path = color-theme
	url = https://github.com/emacsmirror/color-theme.git
[submodule "emacs.d/vendor/color-theme"]
	path = emacs.d/vendor/color-theme
	url = https://github.com/emacsmirror/color-theme.git
[submodule "emacs.d/vendor/popwin-el"]
	path = emacs.d/vendor/popwin-el
	url = https://github.com/m2ym/popwin-el
[submodule "emacs.d/vendor/popwin"]
	path = emacs.d/vendor/popwin
	url = https://github.com/m2ym/popwin-el
[submodule "emacs.d/vendor/scala-mode"]
	path = emacs.d/vendor/scala-mode
	url = https://github.com/Yasushi/scala-mode.git
[submodule "emacs.d/vendor/scala-mode-auto"]
	path = emacs.d/vendor/scala-mode-auto
	url = https://github.com/Yasushi/scala-mode.git
[submodule "emacs.d/vendor/haskell-mode"]
	path = emacs.d/vendor/haskell-mode
	url = https://github.com/emacsmirror/haskell-mode.git
[submodule "emacs.d/vendor/emacs-window-layout"]
	path = emacs.d/vendor/emacs-window-layout
	url = https://github.com/kiwanami/emacs-window-layout
[submodule "emacs.d/vendor/emacs-window-manager"]
	path = emacs.d/vendor/emacs-window-manager
	url = https://github.com/kiwanami/emacs-window-manager
[submodule "emacs.d/vendor/magit"]
	path = emacs.d/vendor/magit
	url = https://github.com/magit/magit.git
[submodule "emacs.d/vendor/auto-complete"]
	path = emacs.d/vendor/auto-complete
	url = https://github.com/m2ym/auto-complete.git
[submodule "emacs.d/vendor/rvm"]
	path = emacs.d/vendor/rvm
	url = https://github.com/senny/rvm.el.git
[submodule "emacs.d/vendor/rsense"]
	path = emacs.d/vendor/rsense
	url = https://github.com/m2ym/rsense.git
[submodule "emacs.d/vendor/rinari"]
	path = emacs.d/vendor/rinari
	url = https://github.com/eschulte/rinari.git
[submodule "emacs.d/vendor/ri-emacs"]
	path = emacs.d/vendor/ri-emacs
	url = https://github.com/pedz/ri-emacs.git
[submodule "emacs.d/vendor/yaml-mode"]
	path = emacs.d/vendor/yaml-mode
	url = https://github.com/yoshiki/yaml-mode.git
[submodule "emacs.d/vendor/slime"]
	path = emacs.d/vendor/slime
	url = https://github.com/technomancy/slime.git
[submodule "emacs.d/vendor/ac-slime"]
	path = emacs.d/vendor/ac-slime
	url = https://github.com/purcell/ac-slime.git
[submodule "emacs.d/vendor/clojure-mode"]
	path = emacs.d/vendor/clojure-mode
	url = https://github.com/jochu/clojure-mode.git
