emacs.d/abbrev_defs
emacs.d/bookmarks
emacs.d/url/cookies
emacs.d/custom.el
emacs.d/oauth2.plstore
emacs.d/tramp
emacs.d/site-lisp
emacs.d/packages
emacs.d/auto-install
emacs.d/auto-save-list
emacs.d/anything-c-adaptive-history
emacs.d/history
emacs.d/ac-comphist.dat
emacs.d/el-get
emacs.d/elpa
emacs.d/swank
emacs.d/session.*
emacs.d/capture-mylife
emacs.d_old
emacs.d.old
*.elc
xmonad/xmonad-i386-darwin
xmonad/xmonad-x86_64-linux
xmonad/xmonad.errors
xmonad/*.hi
xmonad/*.o
xmonad/xmonad
*~
\#*\#
*.old
vim/bundle
